<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mifos.mobile.cn">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature    android:name="android.hardware.camera" />
    <uses-feature    android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".MifosApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.mifos.launcher.LauncherActivity"
            android:theme="@style/LauncherTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.mifos.DashboardActivity" />
        <activity android:name=".ui.mifos.login.LoginActivity" />
        <activity android:name=".ui.mifos.passcode.PasscodeActivity"/>
        <activity android:name=".ui.mifos.loanApplication.loanActivity.LoanApplicationActivity"/>
        <activity android:name=".ui.mifos.customerDetails.CustomerDetailsActivity"/>
        <activity android:name=".ui.mifos.customerActivities.CustomerActivitiesActivity"/>
        <activity android:name=".ui.mifos.identificationlist.IdentificationsActivity"/>
        <activity android:name=".ui.mifos.viewScanCard.ViewScanCardActivity"/>
        <activity android:name=".ui.mifos.customerProfile.CustomerProfileActivity"/>
        <activity android:name=".ui.mifos.plannedPlayment.PlannedPaymentActivity"/>
        <activity android:name=".ui.mifos.debtincomereport.DebtIncomeReportActivity"/>
        <activity android:name=".ui.mifos.aboutus.AboutUsActivity"/>
        <activity android:name=".ui.mifos.privacypolicy.PrivacyPolicyActivity"/>
        <activity android:name=".ui.mifos.Main" />
        <activity android:name=".ui.mifos.signup.SignupActivity" />
        <activity android:name=".ui.mifos.Notification" />
        <activity android:name=".ui.mifos.Send" >
            <intent-filter>
                <action android:name="com.hover.sdk.RETURN_FROM_SETTINGS" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.mifos.QRGenerator" />

        <activity android:name=".ui.mifos.beneficiaries.BeneficiariesActivity" />
                <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <meta-data
            android:name="com.hover.ApiKey"
            android:value="Your API key"/>
    </application>

</manifest>